@charset "UTF-8";

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #777777; color: white;
}

body{
  color: black; fontsize: 20px;
}

header{
  background-color: #333333; color: white; fontsize: 40px;
}

.scroll1{
  overflow: auto;
  white-space: pre;
}

.scroll2{
  overflow: auto;
  white-space: pre;
}

